*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 20px;
}
.container{
	margin: 0px auto;
	width: 95%;
}
.full-width{
	margin-left: 5px;
}
.clear{
	clear: both;
}
header .header-top .logo{
	display: block;
	float: left;
	width: 15%;
}
header .header-top .logo img{
	width: 100%;
}
header .header-top .sitename{
	display: block;
	float: left;
	width: 65%;
	text-align: center;
}
header .header-top .info{
	display: block;
	float: right;
	width: 20%;
}
header .header-top .sitename .title{
	color: red;
}
header .header-top .sitename .more{
	color: orange;
}
header .menu{
	background: wheat;
}
header .menu ul{
	display: block;
}
header .menu ul li{
	display: inline-block;
	padding: 3px 0px;
}
header .menu ul li a{
	text-decoration: none;
	background: orange;
	color: black;
	padding: 3px 10px;
	text-transform: capitalize;
	
}
header .menu ul li a:hover {
	background: brown;
	color: white;
}
header .menu .active {
	background: brown;
	color: white;
}


section{
	margin-top: 5px; 
}
section .namepage h1{
	text-align: center;
}
section .menubar{
	display: block;
}
section .menubar ul li{
	display: inline-block;
	list-style-type: none;
}
section .menubar ul li a{
	padding: 2px 3px;
	border: 1px black solid;
	text-decoration: none;
	color: blue;
}
section{
	margin-top: 5px; 
}
section .tb-center table{
	margin: auto; 
}


section .tb-border table{
	border-collapse: collapse;
}
section .tb-border table tr:nth-child(even) {
	background-color: #dfdfdf;
}
section .tb-border table tr:hover {
	background-color: #CCFFFF;
}
section .tb-border th,section .tb-border .data-show{
	padding: 2px 4px;
	white-space: nowrap;
	max-width: 300px;
	overflow: auto;
}
th{
	text-transform: capitalize;
}
section .tb-border .options{
	text-align: center;
	padding: 0px 3px;
}
section .tb-border .options .checkbox{
	width: 17px;
	height: 17px;
}
section .tb-border .options a{
	text-decoration: none;
	color: blue;
}
section .tb-border .options a:hover{
	color: black;
}


.tongquan .shop-show table{
	font-size: 24px;
	margin: auto;
}
.tongquan .shop-show td{
	padding: 5px 10px;
	border-bottom: 1px orange solid; 
}
.tongquan .shop-show .title{
	width: 300px;
}
.tongquan .shop-show .title a{
	text-transform: capitalize;
	text-decoration: none;
	color: blue;
}
.tongquan .shop-show .sl{
	color: green;
}



section .form-create th{
	white-space: nowrap;
	padding: 0px 5px;
}
section .form-create td{
	padding: 2px 1px;
}
section .form-create table input{
	height: 20px;
	padding: 1px 2px;
}
section .form-create table select{
	height: 26px;
	max-width: 200px;
}
section .form-create .motnua{
	width: 50px;
}
section .form-create .nuanon{
	width: 80px;
}
section .form-create .nuagia{
	width: 100px;
}
section .form-create .gianua{
	width: 130px;
}
section .form-create .daihon{
	width: 200px;
}
section .form-create .honnua{
	width: 250px;
}
section .form-create .nuanua{
	width: 300px;
}
section .form-create .button{
	text-align: center;
}
section .auto{
	white-space: nowrap;
}

section .form-create .button input{
	padding: 5px 10px;
	text-transform: uppercase;
}
section .form-create .checkbox{
	width: 17px;
	height: 17px;
}
section .text{
	width: 400px;
	height: 100px;
}
section .textbe{
	width: 300px;
	height: 50px;
}
section .dt-center{
	text-align: center;
}
section .noshow{
	display: none;
}

section .tuychinh{
	margin-top: 5px;
}
section .tuychinh span{
	display: inline-block;
}
section .tuychinh .left{
	float: left;
}
section .tuychinh .left .number, section .tuychinh .right .finding{
	margin-left: 30px;
}
section .tuychinh .right{
	float: right;
}


.blur{
	opacity: 0.5;
	background: black;
}

.view {
	position: fixed;
	margin: 0px auto;
	top: 2%;
	bottom: 2%;
	left: 0%;
	right: 0%;
	z-index: 999;
	background: moccasin;
	width: 60%;
}
.view .title h2{
	padding-top: 5px;
	text-align: center;
	width: 90%;
	display: inline-block;
}
.view .title form{
	float: right;
	display: inline-block;
	width: 10%;
}
.view .show .avatar{
	text-align: center;
	border-bottom: 2px silver solid;
}
.view .show .avatar img{
	max-height: 500px;
	max-width: 500px;
}
.view .show .photo{
	margin-top: 5px;
}
.view .show .photo .bot{
	padding: 2px;
	display: inline-block;
	width: 22%;
	border: 1px gray solid;
	text-align: center;
}
.view .show .photo .bot:hover{
	border: 1px black solid;
}
.view .show .photo img{
	height: 100px;
	max-width: 100%;
}










section .paging{
	text-align: center;
	margin-top: 10px;
}
section .paging ul li{
	display: inline-block;
	padding: 0px 3px;
}
section .paging ul li .acti{
	background: gray;
	color: white;
}
section .paging ul li a{
	padding: 3px 5px;
	text-decoration: none;
	color: blue;
}
section .paging ul li a:hover{
	padding: 3px 5px;
	text-decoration: none;
	background: orange;
}
section .paging ul li .move{
	background: bisque;
	padding: 3px 5px;
}



section .hinhanh table{
	display: block;
	float: left;
}
section .xemanh{
	display: block;
	float: left;
	border: 1px silver solid;
	margin-left: 15px;
	padding: 5px;
}
section .xemanh img{
	width: 500px;
}
.radio input{
	width: 20px;
	height: 20px;
}
.icon img{
	height: 50px;
	max-width: 100px;
}




footer .infos{
	height: 25px;
	text-align: center;
	margin-top: 5px;
}

