*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 22px;
}
.clearfix{
	clear: both;
}
.container{
	width: 1200px;
	margin: 0px auto;
}
.active{
	background: green;
	color: yellow !important;
}



header .container .logo{
	width: 15%;
	float: left;
	display: block;
}
header .container .logo img{
	width: 100%;
	padding: 5px;
}
header .container .sitename{
	width: 60%;
	float: left;
	display: block;
	text-align: center;
	padding: 20px 0px;
}
header .container .user{
	width: 20%;
	float: right;
	display: block;
	text-align: center;
}
header .container .user .name{
	padding: 10px 0px 0px 0px;
}
header .container .menu{
	padding: 5px 0px 4px 0px;
	display: inline-block;
	width: 100%;
	background: lime;
}
header .container .menu ul{

}
header .container .menu ul li{
	display: block;
	float: left;
}
header .container .menu ul li a{
	text-decoration: none;
	padding: 5px 20px;
	color: brown;

}
header .container .menu ul li a:hover{
	background: gold;
	color: blue !important;

}




section{
	padding-top: 10px;
}

.container table{	
	border-collapse: collapse;
	margin-top: 10px;
}
.container table .tieude a{
	text-decoration: none;
	color: navy;
}
.danhsach table tr th{
	border: 1px black solid;
	padding: 3px;
}
.danhsach table tr td{
	border: 1px black solid;
	padding: 3px 8px;
}
.container table tr .center{
	text-align: center;
}
.container table tr .tacvu a{
	color: blue;
}
.container table tr .tacvu a:hover{
	color: #FF3366;
}
.container form .checkbox{
	width: 18px;
	height: 18px;
}




.container .title{
	text-align: center;
	margin-bottom: 5px;
}
.container .menu-small{
	margin: 0px;
}
.container .menu-small a{
	text-decoration: none;
	padding: 2px 5px;
	border: 1px blue solid;
	color: blue;
}
.container .menu-small a:hover{
	color: #FF3366;
}
.container .back{
	text-decoration: none;
}



.themvao form .nhap{
	width: 150px;
	height: 17px;
	padding: 2px 5px;
}

form .submit{
	font-size: 15px;
	padding: 2px 5px;

}

.themmoi form tr td{
	padding: 5px;
	text-align: left !important;
	min-width: 150px !important;
}
.themmoi form .chuoi input{
	width: 200px;
	height: 25px;
	padding: 2px 5px;
	font-size: 18px;
}
.themmoi form .daihon input{
	width: 300px;
	height: 25px;
	padding: 2px 5px;
	font-size: 18px;
}
.themmoi form .nganhon input{
	width: 100px;
	height: 25px;
	padding: 2px 5px;
	margin-left: 30%;
	font-size: 18px;
}
.themmoi form .radio input{
	width: 17px;
	height: 17px;
}
.themmoi form tr td .chon{
	height: 25px;
	max-width: 300px !important;
}



.danhsach form .xoa{
	margin: 30px 0px;
}
.danhsach form .xoa input{
	font-weight: bold;
	font-size: 30px;
	background: red;
	color: white;
	padding: 5px 10px;
	margin-right: 50px;
}
.danhsach form .xoa a{
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	color: black;
	background: aqua;
	padding: 5px 10px;
	border: 1px blue solid;
}
.full-center, .full-center table{
	margin: 10px auto;
	text-align: center;
}
.an{
	display: none;
}
.cach-top{
	padding: 10px 0px;
}
.table-center table{
	margin: 10px auto;
}



.container .tuychon form{
	margin-bottom: 15px;
}
.container .timkiem{
	float: right;
}
.container .timkiem .tukhoa{
	padding: 2px 5px;
	height: 18px;
	border-radius: 5px;
	width: 100px;
}
.container .timkiem .radio{
	height: 17px;
	width: 17px;
}
.container .timkiem .selecter{
	padding: 2px 5px;
	height: 26px;
	border-style: inset;
	border-radius: 5px;
	width: 100px;
}
.container .sapxep{
	float: left;
}
.container .sapxep .selecter1{
	padding: 2px 5px;
	height: 26px;
	border-style: inset;
	border-radius: 5px;
	width: 110px;
}




.container .phantrang ul li{
	display: inline-block;
	padding: 0px 5px;
}
.container .phantrang ul li .acti{
	background: gray;
	color: white;
}
.container .phantrang ul li a{
	padding: 3px 5px;
	text-decoration: none;
	color: blue;
}
.container .phantrang ul li a:hover{
	padding: 3px 5px;
	text-decoration: none;
	background: orange;
}
.container .phantrang ul li .move{
	background: bisque;
	padding: 3px 5px;
}











.footer{
	height: 30px;
}