*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 18px;
	background: pink url("https://dantricdn.com/a6f7e4a5db/2016/10/19/flowers-10-1476857340980.jpg") no-repeat;
	background-position: 0px -200px;
	background-size: 100%;
}
.container{
	width: 1200px;
	margin: 0px auto;
	padding: 0px 15px 5px 5px ;
	border-right: 3px lavender groove;
	border-bottom: 2px lavender groove;
}
.clear{
	clear: both;
}
.container .header{
	padding-bottom: 10px;
}
.container .header .photo{
	width: 300px;
	float: left;
}
.container .header .photo img{
	width: 100%;
}
.container .header .nameshow h1{
	color: orange;
	font-size: 50px;
}
.container .header .nameshow{
	float: left;
	width: 650px;
	text-align: center;
}
h4{
	font-size: 20px;
}
.container .header .userlogin{
	float: right;
	width: 250px;
}
.container .header .userlogin button{
	font-size: 18px;
	padding: 0px 10px;
}
.container .header .userlogin a{
	font-size: 18px;
	text-decoration: none;
	padding: 0px 10px;
}
.container .header .userlogin .hellouser{
	padding: 40px 0px 0px 0px;
	font-size: 25px;
}
.container .header .userlogin .avatar{
}
.container .header .userlogin .avatar img{
	padding: 2px;
	width: 80%;
	border: 3px orange outset;
	max-height: 160px;
}


.cauhoi{
	color: red;
}
.dapan{
	width: 20px;
	height: 20px;
	margin: 5px;
}

.container .listcauhoi{
	padding: 10px 0px;
	text-align: center;
}
.container .listcauhoi a{
	padding: 10px;
	border: 1px black solid;
	text-decoration: none;
}

.container .nutsubmit{
	padding-top: 10px;
	text-align: center;
}
.container .nutsubmit .xemkq{
	padding: 10px;
	background: lime;
	color: blue;
	font-weight: 700;
}
.container .showcauhoi{
	padding-top: 10px;
}
.qsas{
	margin-bottom: 5px;
	padding: 5px 0px 0px 5px;
	border-top: 4px beige groove;
	border-left: 4px beige groove;
}

.showcauhoi .owl-nav div{
	color: blue !important;
	background: orange !important;
	font-size: 30px !important;
}
.container .showcauhoi .owl-dots div span{
	padding: 3px;
}




.dung{
	color: blue;
}
.sai{
	color: red;
}
.chuachon{
	color: orange;
}
.nhacnho{
	padding: 10px 200px;
}



.ketqua{
	margin: 10px auto;
	width: 500px;
	font-size: 50px;
	border: 50px orange ridge;
	text-align: center;
	padding: 30px;
}
.ketqua span{
	margin: 5px;
}
.ketqua a{
	text-decoration: none;
	border: 2px orange groove;
	margin-top: 15px;
	font-size: 30px;
	padding: 5px;
	background: blue;
	color: white;
}






