*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 20px;
}
.container{
	width: 600px;
	margin: 5px auto;
	}

.container .header .nameshow h1{
	color: orange;
	font-size: 50px;
}
.container .header .nameshow{
	float: left;
	text-align: center;
	padding: 20px 0px;
}
h4{
	font-size: 20px;
}
.container form{
	padding-left: 20px;
}
.container form table{
	border: 10px orange groove;
	border-radius: 10px;
	padding: 30px;
}
.container form tr td{
	padding: 5px 0px;
}
.container form tr td .nhap{
	height: 15px;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
}
.container .dangnhap button{
	background: orange;
	color: blue;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}